#button {
    margin: auto;
    margin-top: 80px;
    height: 70px;
    width: 160px;
    border-radius: 3px;
    background-color: #C93232;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    -webkit-box-shadow: 6px 8px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 8px 4px -1px rgba(0,0,0,0.75);
}

#button:hover {
    cursor: pointer;
}

#button:active {
    -webkit-box-shadow: inset 4px 6px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 6px 36px -6px rgba(0,0,0,0.75);
    box-shadow: inset 4px 6px 36px -6px rgba(0,0,0,0.75);
}